SPORTSYNC_SERVER_URL=http://10.0.0.138:5000
SPORTSYNC_APPLIANCE_ID=HOUSE_BOX_1
SPORTSYNC_APPLIANCE_NAME=House Box 1
SPORTSYNC_ROOM_CODE=HOME
SPORTSYNC_ROOM_NAME=Home Audio
SPORTSYNC_ROOM_PUBLIC=true
SPORTSYNC_AUDIO_DEVICE=auto
